body {
    margin: auto;
    background: #eafafc;
    font-family: 'Open Sans', sans-serif;

}

.info p {
    text-align:center;
    color: #999;
    text-transform:none;
    font-weight:600;
    font-size:15px;
    margin-top:2px
}

.info i {
    color:#F0F8FF;
}

.img-circle {
    border-radius: 50%;
    width: 170px;
    height: 170px;

}

.button {
    background-color: #6eb9c9;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 250px;
    border-radius: 12px;
}


form h1 {
    font-size: 18px;
    background: #6eb9c9 none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    padding: 22px 25px;
    border-radius: 5px 5px 0px 0px;
    margin: auto;
    text-shadow: none;
    text-align:left
}

form {
    border-radius: 5px;
    max-width:700px;
    width:100%;
    margin: 5% auto;
    background-color: #FFFFFF;
    overflow: hidden;
    text-align:left
}

p span {
    color: #F00;
}

p {
    margin: 0px;
    font-weight: 500;
    line-height: 2;
    color:#333;
}

h1 {
    color: #353535;
    text-shadow: 1px 1px 0px #FFF;
    margin:50px 0px 0px 0px;
    font-size: 65px;
    text-align:center
}
h2 {
    color: #66add1;
    text-shadow: 1px 1px 0px #FFF;
    margin:50px 0px 0px 0px;
    font-size: 65px;
    text-align:left;
}

h3 {
    color: #66add1;
    text-shadow: 1px 1px 0px #FFF;
    text-align: center;
}

input {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #eee;
    margin-bottom: 15px;
    width: 75%;
    height: 40px;
    float: left;
    padding: 0px 15px;
}

.col-xs-12 {
    white-space: nowrap;
    max-width: 100%;
    overflow: auto;
}

a {
    text-decoration:inherit
}

textarea {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #EEE;
    margin: 0;
    width: 75%;
    height: 130px;
    float: left;
    padding: 0px 15px;
}

.form-group {
    overflow: hidden;
    clear: both;
}

.icon-case {
    width: 35px;
    float: left;
    border-radius: 5px 0px 0px 5px;
    background:#eeeeee;
    height:42px;
    position: relative;
    text-align: center;
    line-height:40px;
}

i {
    color:#555;
}

.contentform {
    padding: 40px 30px;
}

.bouton-contact{
    background-color: #6eb9c9;
    color: #FFF;
    text-align: center;
    width: 100%;
    border:0;
    padding: 17px 25px;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 40px;
    font-size: 18px;
}

.leftcontact {
    width:49.5%;
    float:left;
    border-right: 1px dotted #CCC;
    box-sizing: border-box;
    padding: 0px 15px 0px 0px;
}

.rightcontact {
    width:49.5%;
    float:right;
    box-sizing: border-box;
    padding: 0px 0px 0px 15px;
}

.validation {
    display:none;
    margin: 0 0 10px;
    font-weight:400;
    font-size:13px;
    color: #DE5959;
}

#sendmessage {
    border:1px solid #fff;
    display:none;
    text-align:center;
    margin:10px 0;
    font-weight:600;
    margin-bottom:30px;
    background-color: #EBF6E0;
    color: #5F9025;
    border: 1px solid #B3DC82;
    padding: 13px 40px 13px 18px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
}

#sendmessage.show,.show  {
    display:block;
}

#titlewrapper {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;

}

#wrapper {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}



#titlewrapper {
    width: 100%;
    justify-content: center;

}

body, html {
    height: 100%;
}
#home {
    width: 100%;
    height: 100%;
}